html {
  font-family: "Unica One", sans-serif;
}

#narwhal-body {
  animation: narwhal-movement 1s linear forwards;
  stroke-dasharray: 1982px;
  stroke-dashoffset: 1982px;
}

#narwhal-eye {
  animation: eye-movement 1s linear forwards;
  opacity: 0;
}

#rainbow-violet {
  animation: rainbow-movement 10s linear forwards;
  stroke-dasharray: 11124px;
  stroke-dashoffset: 11124px;
}

#rainbow-indigo {
  animation: rainbow-movement 10s linear forwards;
  stroke-dasharray: 11124px;
  stroke-dashoffset: 11124px;
}

#rainbow-blue {
  animation: rainbow-movement 10s linear forwards;
  stroke-dasharray: 11124px;
  stroke-dashoffset: 11124px;
}

#rainbow-green {
  animation: rainbow-movement 10s linear forwards;
  stroke-dasharray: 11124px;
  stroke-dashoffset: 11124px;
}

#rainbow-yellow {
  animation: rainbow-movement 10s linear forwards;
  stroke-dasharray: 11124px;
  stroke-dashoffset: 11124px;
}

#rainbow-orange {
  animation: rainbow-movement 10s linear forwards;
  stroke-dasharray: 11124px;
  stroke-dashoffset: 11124px;
}

#rainbow-red {
  animation: rainbow-movement 10s linear forwards;
  stroke-dasharray: 11124px;
  stroke-dashoffset: 11124px;
}

@keyframes rainbow-movement {

  to {
    stroke-dashoffset: 0;
  }

}

@keyframes narwhal-movement {

  to {
    stroke-dashoffset: 0;
  }

}

@keyframes eye-movement {

    to {
      opacity: 1;
    }

}
